body{
    background-color: #000;
    overflow: hidden;
    transition-duration: 0.5s;
}

.main {
    position: fixed;
    top: 50%;
    left: 50%;
    height: 1px;
    width: 1px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff,25vw -41vh 0px 0px #fff,-20vw 49vh 0px 1px #fff,5vw 40vh 1px 1px #fff,29vw 19vh 1px 0px #fff,-44vw -13vh 0px 0px #fff,46vw 41vh 0px 1px #fff,-3vw -45vh 0px 1px #fff,47vw 35vh 1px 0px #fff,12vw -8vh 1px 0px #fff,-34vw 48vh 1px 1px #fff,32vw 26vh 1px 1px #fff,32vw -41vh 1px 1px #fff,0vw 37vh 1px 1px #fff,34vw -26vh 1px 0px #fff,-14vw -49vh 1px 0px #fff,-12vw 45vh 0px 1px #fff,-44vw -33vh 0px 1px #fff,-13vw 41vh 0px 0px #fff,-36vw -11vh 0px 1px #fff,-23vw -24vh 1px 0px #fff,-38vw -27vh 0px 1px #fff,16vw -19vh 0px 0px #fff,28vw 33vh 1px 0px #fff,-49vw -4vh 0px 0px #fff,16vw 32vh 0px 1px #fff,36vw -18vh 1px 0px #fff,-25vw -30vh 1px 0px #fff,-23vw 24vh 0px 1px #fff,-2vw -35vh 1px 1px #fff,-25vw 9vh 0px 0px #fff,-15vw -34vh 0px 0px #fff,-8vw -19vh 1px 0px #fff,-20vw -20vh 1px 1px #fff,42vw 50vh 0px 1px #fff,-32vw 10vh 1px 0px #fff,-23vw -17vh 0px 0px #fff,44vw 15vh 1px 0px #fff,-40vw 33vh 1px 1px #fff,-43vw 8vh 0px 0px #fff,-48vw -15vh 1px 1px #fff,-24vw 17vh 0px 0px #fff,-31vw 50vh 1px 0px #fff,36vw -38vh 0px 1px #fff,-7vw 48vh 0px 0px #fff,15vw -32vh 0px 0px #fff,29vw -41vh 0px 0px #fff,2vw 37vh 1px 0px #fff,7vw -40vh 1px 1px #fff,15vw 18vh 0px 0px #fff,25vw -13vh 1px 1px #fff,-46vw -12vh 1px 1px #fff,-18vw 22vh 0px 0px #fff,23vw -9vh 1px 0px #fff,50vw 12vh 0px 1px #fff,45vw 2vh 0px 0px #fff,14vw -48vh 1px 0px #fff,23vw 43vh 0px 1px #fff,-40vw 16vh 1px 1px #fff,20vw -31vh 0px 1px #fff,-17vw 44vh 1px 1px #fff,18vw -45vh 0px 0px #fff,33vw -6vh 0px 0px #fff,0vw 7vh 0px 1px #fff,-10vw -18vh 0px 1px #fff,-19vw 5vh 1px 0px #fff,1vw 42vh 0px 0px #fff,22vw 48vh 0px 1px #fff,39vw -8vh 1px 1px #fff,-6vw -42vh 1px 0px #fff,-47vw 34vh 0px 0px #fff,-46vw 19vh 0px 1px #fff,-12vw -32vh 0px 0px #fff,-45vw -38vh 0px 1px #fff,-28vw 18vh 1px 0px #fff,-38vw -46vh 1px 1px #fff,49vw -6vh 1px 1px #fff,-28vw 18vh 1px 1px #fff,10vw -24vh 0px 1px #fff,-5vw -11vh 1px 1px #fff,33vw -8vh 1px 0px #fff,-16vw 17vh 0px 0px #fff,18vw 27vh 0px 1px #fff,-8vw -10vh 1px 1px #fff;
  
  /* stars were too big with the layers above but left the code in case no one cares  -- as in, if noone's just that  one other loner who actually cares    */
  z-index: -2;
  box-shadow: 24vw 9vh 1px 0px #fff,12vw -24vh 0px 1px #fff,-45vw -22vh 0px 0px #fff,-37vw -40vh 0px 1px #fff,29vw 19vh 0px 1px #fff,4vw -8vh 0px 1px #fff,-5vw 21vh 1px 1px #fff,-27vw 26vh 1px 1px #fff,-47vw -3vh 1px 1px #fff,-28vw -30vh 0px 1px #fff,-43vw -27vh 0px 1px #fff,4vw 22vh 1px 1px #fff,36vw 23vh 0px 0px #fff,-21vw 24vh 1px 1px #fff,-16vw 2vh 1px 0px #fff,-16vw -6vh 0px 0px #fff,5vw 26vh 0px 0px #fff,-34vw 41vh 0px 0px #fff,1vw 42vh 1px 1px #fff,11vw -13vh 1px 1px #fff,48vw -8vh 1px 0px #fff,22vw -15vh 0px 0px #fff,45vw 49vh 0px 0px #fff,43vw -27vh 1px 1px #fff,20vw -2vh 0px 0px #fff,8vw 22vh 0px 1px #fff,39vw 48vh 1px 1px #fff,-21vw -11vh 0px 1px #fff,-40vw 45vh 0px 1px #fff,11vw -30vh 1px 0px #fff,26vw 30vh 1px 0px #fff,45vw -29vh 0px 1px #fff,-2vw 18vh 0px 0px #fff,-29vw -45vh 1px 0px #fff,-7vw -27vh 1px 1px #fff,42vw 24vh 0px 0px #fff,45vw -48vh 1px 0px #fff,-36vw -18vh 0px 0px #fff,-44vw 13vh 0px 1px #fff,36vw 16vh 0px 1px #fff,40vw 24vh 0px 0px #fff,18vw 11vh 0px 0px #fff,-15vw -23vh 1px 0px #fff,-24vw 48vh 0px 1px #fff,27vw -45vh 1px 0px #fff,-2vw -24vh 0px 1px #fff,-15vw -28vh 0px 0px #fff,-43vw 13vh 1px 0px #fff,7vw 27vh 1px 0px #fff,47vw 5vh 0px 0px #fff,-45vw 15vh 1px 1px #fff,-5vw -28vh 0px 1px #fff,38vw 25vh 1px 1px #fff,-39vw -1vh 1px 0px #fff,5vw 0vh 1px 0px #fff,49vw 13vh 0px 0px #fff,48vw 10vh 0px 1px #fff,19vw -28vh 0px 0px #fff,4vw 7vh 0px 0px #fff,21vw 21vh 1px 1px #fff,-15vw -15vh 0px 1px #fff,-6vw -42vh 1px 0px #fff,-15vw 48vh 1px 1px #fff,-23vw 25vh 1px 1px #fff,-48vw 25vh 0px 1px #fff,-31vw -19vh 0px 1px #fff,4vw 37vh 1px 1px #fff,-43vw 28vh 0px 0px #fff,3vw -25vh 0px 1px #fff,-39vw 14vh 0px 1px #fff,-40vw 31vh 0px 1px #fff,35vw -36vh 1px 1px #fff,16vw 49vh 0px 0px #fff,6vw 39vh 0px 0px #fff,3vw -35vh 0px 1px #fff,-44vw -2vh 1px 0px #fff,-6vw 21vh 1px 0px #fff,48vw 9vh 1px 1px #fff,-43vw 30vh 1px 1px #fff,29vw -12vh 1px 1px #fff,-48vw 13vh 1px 0px #fff,-42vw 32vh 1px 1px #fff,34vw 15vh 1px 1px #fff,29vw -37vh 1px 1px #fff,28vw 2vh 0px 0px #fff;
  animation: zoom 16s alternate infinite; 
}

@keyframes zoom {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.5);
    }
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.planet{
    position: absolute;
    width: 25%;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
}

.first{
    left: 15%;
}

.second{
    left: 60%;
}

.info{
    color: #3c9197;
}

.header{
    color: #fff;
    font-size: 18pt;
    font-family: 'Orbitron', sans-serif;

}


.dotted{
    transform: translate(-50%,-20%);
    position: absolute;
    width: 60vw;
    height: 60vw;
    left: 50%;
    z-index: -2;
    border-top: 5px dashed floralwhite;
    border-radius: 30vw;
}

.spaceship{
    position: absolute;
    z-index: -1;
}

#earth_to_alien{
    left: 28vw;
    top: 35vh;
    transform: rotate(-37deg);
    animation: rocket-x1 1.5s ease-in,rocket-x2 1.5s ease-out 1.5s ,rocket-y1 1.5s ease-out, rocket-y2 1.5s ease-in 1.5s, rotater1 1.5s ease-in, rotater2 1.5s ease-out 1.5s;
    animation-fill-mode: forwards;
    /* , rocket-y1 1.5s ease-out, rocket-y2 1.5s ease-in; */
}




@keyframes rocket-x1{
    0%{}
    100%{left:45vw;}
}

@keyframes rocket-x2{
    0%{left: 45vw;}
    100%{left: 65vw;}
}

@keyframes rocket-y1{
    0%{}
    100%{top:24vh}
}
@keyframes rocket-y2{
    0%{top: 24vh}
    100%{top:35vh}
}
@keyframes rotater1{
    0%{transform: rotate(-38deg);opacity: 0%;}
    10%{opacity: 100%;}
    100%{transform: rotate(0deg);}
}

@keyframes rotater2{
    0%{transform: rotate(0deg);}
    90%{opacity: 100%;}
    100%{transform: rotate(38deg);opacity: 0%;display: none;}
}

.console{
    z-index: 2;
    transition-duration: 2s;
    position: absolute;
    /* opacity: 70%; */
    width: 80%;
    top:90%;
    height: 90%;
    /* border: rgb(1, 145, 145) 2px solid; */
    left: 10%;
    border-radius: 30px 30px 0px 0px;
    backdrop-filter: blur(5px);

    border: rgb(1, 145, 145) 3px solid;
    background-color: rgba(0,0,0,0.2);
}

.top{
    position: relative;
    width: 100%;
    height:10%;
    background-color: #3c9197;
    /* border: #3c9197 2px solid; */
    border-radius: 30px 30px 0px 0px;
    display: flex;
    padding: 2px;
}

.bi{
    height: 5vw;
    width: 5vw;
    transform: rotate(180deg);
    margin: auto;
    position: relative;
    top: -10%;
}

.head{
    position: relative;
    top: 30%;
}

.product-details{
    border: 2px solid white;
    position: absolute;
    margin: 3%;
    padding: 5%;
    padding-top: 1%;
    /* background-color: white; */
    width: 45%;
    height: 70%;
}

.white{
    position: relative;
    padding: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 2.4vh;
    font-family: 'Orbitron', sans-serif;
}

.image{
    width: 90%;
    height: 55%;
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 10px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.prod{
    height: 100%;
}

.transit-details{
    border: 2px solid white;
    position: absolute;
    margin: 3%;
    padding: 5%;
    padding-top: 1%;
    left:48%;
    /* background-color: white; */
    width: 45%;
    height: 55%;
}

.nuke{
    border: 2px solid red;
    position: absolute;
    margin: 3%;
    left:48%;
    top: 69.5%;
    width: 45%;
    height: 10%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    transition-duration: 0.5s;
}

.icon{
    color: red;
    height: 5vh;
    margin-top:2.8%;
}

.nuke:hover .icon{
    color: yellow;
}
.nuke:hover{
    background-color: red;
    cursor: pointer;
}
/* .icon{
    position: relative;
    height: 100%;
    width: 40%;
    border: 2px solid white;
    margin: auto;
} */

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-10px, -20px) rotate(-1deg); }
    20% { transform: translate(-30px, 0px) rotate(1deg); }
    30% { transform: translate(30px, 20px) rotate(0deg); }
    40% { transform: translate(10px, -10px) rotate(1deg); }
    50% { transform: translate(-10px, 20px) rotate(-1deg); }
    60% { transform: translate(-30px, 10px) rotate(0deg); }
    70% { transform: translate(30px, 10px) rotate(-1deg); }
    80% { transform: translate(-10px, -10px) rotate(1deg); }
    90% { transform: translate(10px, 20px) rotate(0deg); }
    100% { transform: translate(10px, -20px) rotate(-1deg);}
  }

@keyframes reduce{
    0% {transform: scale(1);}
    100% {transform: scale(0.0);}
}

.source-icon{
    height: 3vh;
    width: 3vh;
}

.dest-icon{
    height: 3vh;
    width: 3vh;
}

.nav_bg {
    background-color: #171631;
    margin: 0;
    width: 110%;
}

.bg_nav {
    background-color: #0A0B1F;
}
.bg_nav {
    background-color: #0A0B1F;
}


.navbar-nav .nav-item.dropdown:hover .dropdown-menu, .navbar-nav .nav-item.dropdown .dropdown-menu:hover {
  display: block;
}
