.column {
    background-color: aqua;
    border: 1px solid;
    border-color: black;
    text-align: center;
    margin: 1px;
    padding: 10px;
    box-sizing: border-box;
}


.heading {
    float:right;
    border: solid;
    background-color: red;
    width: 33%
}

.inner {
    text-align: center;
    clear: both;
}

h1{
    text-align: center;
}

@media (min-width:992px){
    .column {
        float: left;
        width: 33.1%;
    }
}

@media (min-width:768px) and (max-width:991px){
    .column {
        float: left;
        width: 49.72%
    }
    #three {
        clear: left;
        width: 100%
    }
}

@media (max-width:787px){

}

